In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
csv_file = "./Source Data/nation.1751_2014.csv"
csv_file2 = "./Source Data/countries_geo.csv"
climate_df = pd.read_csv(csv_file)
countries_df = pd.read_csv(csv_file2)
climate_df.head()

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,"(Note: missing values denoted by ""."")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Source: Tom Boden and Bob Andres (Oak Ridge Na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DOI: 10.3334/CDIAC/00001_V2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFGHANISTAN,1949.0,4.0,4,0,0,0.0,.,.,0.0
4,AFGHANISTAN,1950.0,23.0,6,18,0,0.0,0,0,0.0

In [29]:
climate_clean_df = climate_df.dropna()
climate_clean_df.head()

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
3,AFGHANISTAN,1949.0,4.0,4,0,0,0.0,.,.,0.0
4,AFGHANISTAN,1950.0,23.0,6,18,0,0.0,0,0,0.0
5,AFGHANISTAN,1951.0,25.0,7,18,0,0.0,0,0,0.0
6,AFGHANISTAN,1952.0,25.0,9,17,0,0.0,0,0,0.0
7,AFGHANISTAN,1953.0,29.0,10,18,0,0.0,0,0,0.0

In [26]:
countries_clean_df = countries_df.rename(index = str, columns={"name": "Nation"})
countries_clean_df.head()

  country   latitude  longitude                Nation
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [31]:
countries_clean_df.to_csv(r'LatLong.csv', index = False)

In [32]:
climate_clean_df.to_csv(r'climate_data.csv', index = False)